# Node
/node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
.pnpm-debug.log*

# Build
/dist/
/out-tsc/

# Testing
/coverage/

# Angular
/.angular/

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
